body{
  background-image: url("../images/bg.jpg");
  margin: 0;
  padding: 0;
}

header{
  position: fixed;
  width: 100%;
}

.logo{
  position: relative;
  left: 10%;
  display: inline;
  z-index: 99;
}
li{
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}
ul  {
  background-color: orange;
  color: white;
  font-family: sans-serif;
  font-size: 40px;
  height: 80px;
  width: 70%;
  line-height: 80px;
  margin-left: 10px;
  position: relative;
  left: 50%;
}

nav{
  width: 100%;
  position: absolute;
  left: -30%;
  top: 0;
  padding: 20px;
}

section{
  background-color: white;
}

footer{
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  clear: both;
  font-size: 20px;
}
